.event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  background-color: green;
  height: 25px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
}
